@model IEnumerable<VendedorViewModel>
@{
    ViewData["Title"] = "Lista de Vendedores";
}

<h1>@ViewData["Title"]</h1>
<hr />



<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var vendedor in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => vendedor.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => vendedor.Email)
                    </td>
                    <td>
                        <form asp-action="AlterarStatus">
                            <input type="hidden" name="id" value="@vendedor.Id" />
                            

                            <button type="submit" title="Alterar Status" class="btn btn-link p-0 border-0">
                                <span class="fa @(vendedor.Ativo ? "fa-toggle-on text-success" : "fa-toggle-off text-danger") fa-lg"></span>
                            </button>

                        </form>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>