@model IEnumerable<VendedorViewModel>
@{
    ViewData["Title"] = "Lista de Vendedores";
}

<h1>@ViewData["Title"]</h1>
<hr />



<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var vendedor in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => vendedor.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => vendedor.Email)
                    </td>
                    <td>

                        <button type="button" class="btn btn-link p-0 border-0" title="Alterar Status" data-bs-toggle="modal" data-bs-target="#alterarStatusModal" data-id="@vendedor.Id" data-nome="@vendedor.Nome" data-ativo="@vendedor.Ativo">
                            <span class="fa @(vendedor.Ativo ? "fa-toggle-on text-success" : "fa-toggle-off text-danger") fa-lg"></span>
                        </button>

                    </td>
                </tr>
            }
        }
        <form id="antiForgeryForm" method="post">
            @Html.AntiForgeryToken()
        </form>
    </tbody>
</table>




<!-- Modal de Alterar Status -->
<div class="modal fade" id="alterarStatusModal" tabindex="-1" role="dialog" aria-labelledby="alterarStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alterarStatusModalLabel">Confirmar Alteração</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que alterar o Status do vendedor <span id="vendedorNome"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarAlteracao">Alterar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>


        $(document).ready(function () {
            var vendedorId; // Variável para armazenar o ID do vendedor 

            var form = $('#antiForgeryForm');
            var token = form[0][0].value;

            $('#alterarStatusModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                vendedorId = button.data('id'); // Armazene o ID do vendedor 
                var nome = button.data('nome');

                // Atualize o conteúdo do modal
                $('#vendedorNome').text(nome);
            });

            $('#confirmarAlteracao').click(function () {
                // Chame o método de alteração na sua controller
                $.ajax({
                    url: '/vendedores/alterar-status/' + vendedorId,
                    type: 'POST',
                    headers: { 'RequestVerificationToken': token },
                    success: function () {
                        // Recarregue a página ou faça outra ação após a alteração bem-sucedida
                        location.reload();
                    },
                    error: function () {
                        // Trate o erro aqui, se necessário
                        alert('Erro ao alterar o Status do vendedor.');
                    }
                });
            });
        });

    </script>
}